#content {
    text-align: center;
    margin-bottom: 15%;
    /*
    This makes the title look like its in the background
        position: fixed;
        top: 0;
        left: 25%;
    */
    text-shadow: 0px 4px 3px rgba(0,0,0,.4),
                 0px 8px 13px rgba(0,0,0,.1),
                 0px 18px 23px rgba(0,0,0,.1)
}
#title {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    width: 100%;
    margin-bottom: 100px;
    padding-top: 15%;
}
@media screen 
    and (max-width : 375px) 
    and (max-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .wrapper {
            background-color: #08520f
        }
        #title {
            background-color: #08520f;
            margin-bottom: 0px;
        }
        img {
            display: none;
        }
        nav-navbar {
            background-color: #08520f;
        }
    }
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
    .wrapper {
        background-color: #08520f
    }
    #title {
        background-color: #08520f;
        margin-bottom: 0px;
    }
    img {
        display: none;
    }
    nav-navbar {
        background-color: #08520f;
    }
    }
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
    .wrapper {
        background-color: #08520f
    }
    #title {
        background-color: #08520f;
        margin-bottom: 0px;
    }
    img {
        display: none;
    }
    nav-navbar {
        background-color: #08520f;
    }
    }
div {
    display: block;
}
h1 {
    font-weight: 700;
    font-size: 5em;
}
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 0px;
}
h2 {
    text-align: center;
}
a:hover {
    color: black;
}
.grid-item {
    margin: 3rem 3rem 3rem 0;
}
.spacer {
    border-left: 1px solid black;
    width: 1%;
    height: inherit;
    display: inline-block;
}
/* Cards */
.blockl {
    display: table;
    width: 24%;
    table-layout: fixed;
    border-spacing: 10px;
    display: block;
    text-align: center;
    border-bottom-left-radius: 8px;
    float: left;
}
.blockm {
    display: table;
    width: 25.5%;
    table-layout: fixed;
    border-spacing: 10px;
    display: inline-block;
    text-align: center;
}
.blockr {
    display: table;
    width: 24%;
    table-layout: fixed;
    border-spacing: 10px;
    display: block;
    text-align: center;
    border-bottom-right-radius: 8px;
    float: right;
}
.bottom_words {
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 500;
    display: inline-table;
    overflow: hidden;
    color: black;
}
.blockl:hover {
    background-color: rgb(5, 82, 56);
}
.blockm:hover {
    background-color: rgb(5, 82, 56);
}
.blockr:hover {
    background-color: rgb(5, 82, 56);
}
.post-meta {
    background-color: silver;
    overflow: hidden;
    position: relative;
    top: -10px;
    height: 50px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font: inherit;
}
.card_title {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    display: inline-block;
}
.card_img {
    width: 100%;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.card-link {
    width: 100%;
    display: block;
    /*background: rgba(228, 214, 214, 0.945); */
    border-radius: 8px;
    color: black;
}
.card_item {
    width: 100%;
    padding: 2.5%;
    background: white;
    position: relative;
    font-size: 15px;
}
.card_item1 {
    width: 95%;
    padding: 2.5%;
    margin-left: 2.5%;
    background: white;
    position: relative;
    font-size: 15px;
}
.grid-item {
    margin-bottom: 3%;
}
.extra_padding {
  margin: 0;
  padding: 2.5% 2.5% 0 2.5%;
  font-size: 0.9rem;
}
/* Container Stuff */
#cards {
    max-width: 1200px;
}
@media screen and (min-width: 600px) {
 .container-fluid {
    padding-right: 3rem;
    padding-left: 3rem;
 }
}
/* Footer Stuff */
#footnote {
    color: white;
}
.footer{
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
}
.footer nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.footer nav > ul > li{
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}
.footer nav > ul > li:first-child{
    margin: 0;
    padding: 0;
}
.footer nav > ul a:not(.btn) {
    color: white;
    display: block;
    margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
    color: #E3E3E3;
}
.footer .copyright {
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}